* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('img/background.jpg') center top no-repeat;
    font-family: sans-serif;
}

ol,
ul {
    list-style: none;
}

h1 {
    margin: 15px 0;
    text-align: center;
}

.labeled-value {
    color: #0056b0;
    font-weight: 700;
}

.labeled-value span {
    color: #000;
}

.container {
    margin: 0 auto;
    padding: 15px;
    width: 960px;
}

.logo {
    margin-bottom: 15px;
}

nav {
    background-color: #0056b0;
}

nav a {
    text-decoration: none;
}

nav > ul {
    display: flex;
    font-weight: 700;
}

nav > ul > li {
    border-right: 3px dotted #fff;
    position: relative;
}

nav > ul > li > a,
nav > ul > li > span {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 15px;
}

nav > ul > li:hover > a,
nav > ul > li:hover > span {
    background-color: #b9d1f3;
    color: #000;
}

nav > ul > li > span:after {
    border-style: solid;
    border-color: #fff transparent transparent;
    border-width: 5px 5px 0;
    content: '';
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

nav > ul > li:hover > span:after {
    border-color: #000 transparent transparent;
}

nav > ul > li > ul {
    background: #b9d1f3;
    display: none;
    position: absolute;
    white-space: nowrap;
}

nav > ul > li:hover > ul {
    display: block;
}

nav > ul > li > ul > li > a {
    color: #000;
    display: block;
    padding: 15px;
}

nav > ul > li > ul > li > a:hover {
    background: #0056b0;
    color: #fff;
}

.title-bar {
    padding: 15px;
    text-align: center;
}

.no-item {
    color: #0056b0;
    font-size: 18px;
    text-align: center;
}

.filter-bar {
    margin-bottom: 15px;
    text-align: center;
}

.toys-list {
    display: flex;
    flex-wrap: wrap;
}

.toy-item {
    padding: 15px;
    text-align: center;
    width: 310px;
}

.toy-item > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.toy-item .image {
    order: -1;
}

.toy-item img {
    display: block;
    width: 100%;
}

.toy-item h2 {
    color: #0056b0;
    font-size: 18px;
}

.toy-item .price {
    color: #000;
    font-size: 22px;
}

.toy-details {
    display: flex;
}

.toy-details p {
    margin-bottom: 15px;
}

.toy-details .image-col {
    flex: 0 0 350px;
    padding-right: 15px;
}

.toy-details img {
    display: block;
    width: 100%;
}

.toy-details form {
    display: block;
    margin-bottom: 15px;
}

.toy-details .price {
    font-size: 28px;
}